<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>dictionary</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>Danish-English Dictionary.icns</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>at.gligor.dictionary.DictionaryForm</string>
      <key>JVMVersion</key>
      <string>1.4+</string>
      <key>ClassPath</key>
      <array><string>$JAVAROOT/repo/at/gligor/dictionary/1.0/dictionary-1.0.jar</string><string>$JAVAROOT/repo/com/intellij/forms_rt/7.0.3/forms_rt-7.0.3.jar</string><string>$JAVAROOT/repo/asm/asm-commons/3.0/asm-commons-3.0.jar</string><string>$JAVAROOT/repo/asm/asm-tree/3.0/asm-tree-3.0.jar</string><string>$JAVAROOT/repo/asm/asm/3.0/asm-3.0.jar</string><string>$JAVAROOT/repo/com/jgoodies/forms/1.1-preview/forms-1.1-preview.jar</string><string>$JAVAROOT/repo/jdom/jdom/1.0/jdom-1.0.jar</string><string>$JAVAROOT/repo/jgoodies/forms/1.0.5/forms-1.0.5.jar</string></array>
          </dict>
  </dict>
</plist>